source ~/.vimrc
let mapleader=" "


"" --- plugins ---
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" --- editor ---
nnoremap o o<Esc>
nnoremap O O<Esc>


"" --- go to ---
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(FindUsages)
nmap gl <Action>(GotoLine)
nmap gb <Action>(Back)
nmap ge <Action>(GotoNextError)


"" --- motion ---
" method
nmap <S-j> <Action>(MethodDown)
nmap <S-k> <Action>(MethodUp)

" tab
nmap <S-l> <Action>(NextTab)
nmap <S-h> <Action>(PreviousTab)

" word camel case
map w [w
map b [b
map e ]w


"" --- files ---
nmap ff <Action>(SearchEverywhere)
nmap fl <Action>(RecentLocations)
nmap fr <Action>(RecentFiles)


"" --- refactoring ---
nmap qq <Action>(ShowIntentionActions)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>fd <Action>(ReformatCode)


"" --- project ---
nmap <leader>pr <Action>(Run)
nmap <leader>ps <Action>(Stop)
nmap <leader>pb <Action>(BuildSolutionAction)
nmap <leader>pd <Action>(Debug)